name: Test Branch Notification

on:
  push:
    branches:
      - test
  pull_request:
    branches:
      - test

jobs:
  notify:
    name: Send Google Chat Notification
    runs-on: ubuntu-latest
    steps:
      - name: Send Notification
        continue-on-error: false
        run: |
          TEXT="test"
          PAYLOAD=$(jq -n --arg text "$TEXT" '{text:$text}')
          curl --insecure -k -s -X POST -H "Content-Type: application/json" -d "$PAYLOAD" "${{ secrets.GOOGLE_CHAT_HOOK_TARGET }}"